{{define "about"}}
<div class="kc-about-title pt-10">
    <span id="about">About</span><br>
    <p class="kc-about-text text-justify">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi debitis tenetur illo totam
        dignissimos, quam modi minus ab neque, ipsam veniam quo ex cupiditate nostrum veritatis eaque molestiae
        repellendus autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum aperiam suscipit
        iste
        nam
        consequuntur, ullam numquam neque quas aliquam minus reprehenderit iusto id fugit reiciendis velit earum
        animi
        perspiciatis excepturi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. At similique doloribus
        iste in
        non esse ducimus fuga quas dignissimos ea, consequuntur minus ratione, nihil, quae et assumenda nemo
        mollitia
        neque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus ut cumque molestiae ad, dolor est
        quo
        accusantium perspiciatis animi, ipsam placeat doloribus! Magnam suscipit maxime eum repellat odio
        possimus vitae?
    </p>
</div>
{{end}}