{{define "footer"}}

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted"><b>&copy; 2022 KokoChic</b></p>

        <a href="/home"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img class="bi me-2" src="/assets/logo.png" width="20" height="12" />
        </a>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="twitter/kokochic"><i class="bi bi-twitter"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="kokochic/instagram"><i class="bi bi-instagram"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="kokochic/facebook"><i class="bi bi-facebook"></i></a></li>
        </ul>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
{{end}}