{{define "product-category"}}
<div class="kc-product mt-4">
    <div class="kc-product-category pt-10">
        <div class="kc-product-category-title">
            <span id="products">Products Categories</span>
            <div class="row align-items-md-stretch mt-2">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2 class="kc-product-title">HUAWEI</h2>
                        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et
                            reiciendis eligendi nemo
                            error, quia iusto quisquam, consequatur aspernatur labore nostrum corporis delectus.
                        </p>
                        <button class="btn btn-outline-primary mt-4 kc-button-store" type="button">Visit the
                            Store</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2 class="kc-product-title">iPHONE</h2>
                        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et
                            reiciendis eligendi nemo
                            error, quia iusto quisquam, consequatur aspernatur labore nostrum corporis delectus.
                        </p>
                        <button class="btn btn-outline-primary mt-4 kc-button-store" type="button">Visit the
                            Store</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}